/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 60px; background: #fff; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.flexslider .slides li{ display:none; width:100%; height:428px}
.flexslider .slides li a{display:block;width:100%; height:428px}
.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {
    width: 30px; 
    height: 30px; 
    margin: -20px 0 0; 
    display: block; 
    background: url(../images/bg_direction_nav.png) no-repeat; 
    background-position: 0 100%;
    position: absolute; 
    top: 50%;
    z-index: 10; 
    cursor: pointer; 
    text-indent: -9999px; 
    opacity: 0.9; 
    -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {
    background-position: 0 0; 
    right:50px; }
.flex-direction-nav .flex-prev {left:50px;}
.flexslider:hover .flex-next {opacity: 0.9; right:50px;}/*20px*/
.flexslider:hover .flex-prev {opacity: 0.9; left:50px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {
    width: 100%; 
    position: absolute; 
    left:0; 
    bottom: 40px; 
    text-align: left;
    padding-left: 30%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 14px; height: 14px; display: block; background: #83725a; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 1px #ccc; -webkit-box-shadow: inset 2px 2px 1px #645744; -moz-box-shadow: inset 2px 2px 1px #645744; box-shadow: inset 2px 2px 1px #645744;}
.flex-control-paging li a:hover { 
    background: #52a250; 
    -webkit-box-shadow: inset 2px 2px 1px #367434/*#990030*/;
    -moz-box-shadow: inset 2px 2px 1px #367434; 
    box-shadow: inset 2px 2px 1px #367434/*#990030*/}
.flex-control-paging li a.flex-active { 
    background: #52a250; 
    cursor: default; 
    -webkit-box-shadow: inset 2px 2px 1px #367434;
    -moz-box-shadow: inset 2px 2px 1px #367434; 
    box-shadow: inset 2px 2px 1px #367434}



@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}
@media screen and (max-width: 1400px) {
    .flex-control-nav{
        padding-left: 22.5%}
}
