@charset "utf-8";
/**
*
* @project    twinble.com
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2018 xuedesign studio
* @version    v1.0 - 201803
*
**/

/*
=====================================
桌上型電腦 for-desktop-down
=====================================
*/
@media (max-width:1110px) { 
#wrap,
#banner_slider,
#mainbox,
#main-nav,
#aboutbox,    
#courbox,
#calltoaction,
#banner_slider,
footer{ 
    min-width: 1000px}
.submenu-item{ width: 1000px}    
.submenu-item li.tt1 a{
    margin-right: 180px}
#banner_slider{
	height:353px}
.flexslider .slides li{
    height:357px}
.flexslider .slides li a{ height:357px}
.flexslider .slides .sbg-01 {
    background: url(../images/rwd/banner-01.jpg) center}
.flexslider .slides .sbg-02 {
    background: url(../images/rwd/banner-02.jpg) center}
.flexslider .slides .sbg-03 {
    background: url(../images/rwd/banner-03.jpg) center}
.flex-control-nav { bottom: 38px}
#main-nav{
    margin-bottom: 0;
    padding-bottom: 35px}
#main-nav ul{
    margin: 3px 0 0 21%}
#main-nav ul ul{ margin: 3px 0 0 29%}    
#aboutbox{ 
    width: 1000px;
    padding:30px 0 0}    
#logobox{
    width: 46%;
    /*height: 178px;*/
    background: url(../images/logo_about.png) 30px 40px no-repeat}
#aboutinfo{
    display: block;
    float: left;
    width: 48%;
    margin: 60px 0 48px 0;
    padding-left: 20px;
    border-left: 1px solid #9D9E9E}
#courimg{
    width: 55%;
    height: 355px;
    background: url(../images/pic_core-competence.jpg) no-repeat;
    background-position: -850px 0}
#courlist{ width: 45%}
.callto-slogan-01{
    top: 96px;
    left: 270px}
.callto-slogan-02{
    top:209px;
    left: 108px}
.callto-slogan-03{
    top: 254px;
    left: 186px}
footer{
	height: 300px;}    
#footer-main{ width: 1000px}
#copyright,
#contactbox,
#languagebox{ margin: 0 2%}    
#copyright{ width: 33%}
#contactbox{ 
    width: 45%; 
    word-wrap:break-word}
#languagebox{ width: 10%}    
}

/*
=====================================
平板裝置(寬>長) for-tablet-landscape-up
=====================================
*/
@media (max-width:800px) {
    
}

/*
=====================================
平板裝置(長>寬) for-tablet-portrait-up
=====================================
*/
@media (max-width: 600px) {
    
}

/*
=====================================
手機(大螢幕) for-phone-only
=====================================
*/
@media (max-width: 420px) {
    
}

/*
=====================================
手機 for-phone-only (small screen)
=====================================
*/
@media (max-width: 321px) {
    
}


/*
=====================================
for-retina-photo
=====================================
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){
    #logobox{
        background: url(../images/rwd/LOGO@3X.png) no-repeat;
        background-size: cover} 
    
}