@charset "utf-8";
/**
*
* @project    twinble.com
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2018 xuedesign studio
* @version    v1.0 - 201803
*
**/

/*
=====================================
桌上型電腦 for-desktop-down
=====================================
*/
@media (max-width:1110px) { 
#wrap,
#banner_slider,
#mainbox,
#main-nav,
#aboutbox,    
#courbox,
#calltoaction,
#banner_slider,
footer{ 
    min-width: 1000px}
.submenu-item{ width: 1000px}    
.submenu-item li.tt1 a{
    margin-right: 180px}
#banner_slider{
	height:353px}
.flexslider .slides li{
    height:357px}
.flexslider .slides li a{ height:357px}
.flexslider .slides .sbg-01 {
    background: url(../images/rwd/banner-01.jpg) center}
.flexslider .slides .sbg-02 {
    background: url(../images/rwd/banner-02.jpg) center}
.flexslider .slides .sbg-03 {
    background: url(../images/rwd/banner-03.jpg) center}
.flex-control-nav { bottom: 38px}
#main-nav{
    margin-bottom: 0;
    padding-bottom: 35px}
#main-nav ul{
    margin: 3px 0 0 21%}
#main-nav ul ul{ margin: 3px 0 0 29%}    
#aboutbox{ 
    width: 1000px;
    padding:30px 0 0}    
#logobox{
    display: block;
    width: 425px;
    height: 152px;
    margin: 50px 0 0 15px;
    background-size: 425px 152px;
    background: url(../images/logo_about.png) no-repeat}
#aboutinfo{
    display: block;
    float: left;
    width: 524px;
    margin: 60px 0 48px 20px;
    padding-left: 20px;
    border-left: 1px solid #9D9E9E}
#courimg{
    width: 55%;
    height: 355px;
    background: url(../images/pic_core-competence.jpg) no-repeat;
    background-position: -850px 0}
#courlist{ width: 45%}
.callto-slogan-01{
    top: 96px;
    left: 270px}
.callto-slogan-02{
    top:209px;
    left: 108px}
.callto-slogan-03{
    top: 254px;
    left: 186px}
#calltomain nav{
    left: 145px}    
footer{
	height: 300px;}    
#footer-main{ width: 1000px}
#copyright,
#contactbox,
#languagebox{ margin: 0 2%}    
#copyright{ width: 33%}
#contactbox{ 
    width: 45%; 
    word-wrap:break-word}
#languagebox{ width: 10%}   
}

/*
=====================================
平板裝置(寬>長) for-tablet-landscape-up
=====================================
*/
@media (max-width:800px) {
#wrap,
#banner_slider,
#mainbox,
#main-nav,
#aboutbox,    
#courbox,
#calltoaction,
#banner_slider,
footer{ 
    min-width: 750px}
.submenu-item{ width: 750px}
#banner_slider,
.flexslider .slides li,
.flexslider .slides li a{ height:268px}
.flex-control-nav { bottom: 26px}    
.flexslider .slides .sbg-01,
.flexslider .slides .sbg-02,
.flexslider .slides .sbg-03{
    background-size: 768px 268px}   
#main-nav{
    margin-bottom: 60px;
    padding-bottom: 35px}
#main-nav ul{
    margin: 3px 0 0 11%}
#aboutbox{ 
    width: 100%;
    padding:0}
#logobox{
    display: block;
    width: 100%;
    margin: 0 0 20px;
    background-size: 425px 152px;
    background: url(../images/logo_about.png) center top no-repeat}
#aboutinfo{
    display: block;
    float: none;
    width: 90%;
    margin: 10px auto 48px;
    padding-left: 0;
    border-left: none}
#courimg{
    width: 35%;
    height: 355px;
    background-size: 269px 355px;
    background: url(../images/rwd/pic_core-competence.jpg) no-repeat}
#courlist{ width: 65%}
.callto-slogan-01{
    top: 96px;
    left: 100px}
.callto-slogan-02{
    top:209px;
    left: 38px}
.callto-slogan-03{
    top: 274px;
    left: 66px}
#calltomain nav{
    left: 25px}
footer{
	height: 300px;}    
#footer-main{ width: 750px}
#copyright,
#contactbox,
#languagebox{ margin: 0 2%}    
#copyright{ width: 30%}
#contactbox{ 
    width: 60%; 
    word-wrap:break-word}
#languagebox{
    clear: both;
    display: none;
    /*float: none;
    width: 100%*/}       
}

/*
=====================================
平板裝置(長>寬) for-tablet-portrait-up
=====================================
*/
@media (max-width: 600px) {
#wrap,
#banner_slider,
#mainbox,
#main-nav,
#aboutbox,    
#courbox,
#calltoaction,
#banner_slider,
footer{ 
    min-width: 573px}
.submenu-item{ width: 573px}
#banner_slider,
.flexslider .slides li,
.flexslider .slides li a{ height:209px}
.flex-control-nav { bottom: 18px}    
.flexslider .slides .sbg-01,
.flexslider .slides .sbg-02,
.flexslider .slides .sbg-03{
    background-size: 100% 209px}   
/*#main-nav{
    margin-bottom: 60px;
    padding-bottom: 35px}*/
#main-nav ul{
    margin: 3px 0 0 4%}
#main-nav li,
#main-nav li.iehover li a,
#main-nav li li.subtitle a:hover{ width: 175px}  
#courimg{
    width: 50%;
    background: url(../images/rwd/pic_core-competence.jpg) top center no-repeat}
#courlist{ 
    width: 50%;
    padding: 25px 20px 0}
#courlist li a,
#courlist li a:visited{
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 28px;
    text-indent: 0;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.375em;
    color: #275525;
    text-decoration: none;
    border-bottom: 1px dashed #e1e1e1} 
#courlist li a:hover{
    color: #50a818;
    text-decoration: none}    
.cour-01,
.cour-02,
.cour-03,
.cour-04,
.cour-05{
    background: none;
    width: 100%;
    margin-left: 0;
    background-position: 0}
.callto-slogan-01{
    top: 96px;
    left: 100px}
.callto-slogan-02{
    top:209px;
    left: 38px}
.callto-slogan-03{
    top: 274px;
    left: 66px}
#calltomain nav{
    left: 25px}
footer{
	height: 300px;}    
#footer-main{ width: 573px}
#copyright,
#contactbox,
#languagebox{ margin: 0 2%}    
#copyright{ width: 30%}
#contactbox{ 
    width: 60%; 
    word-wrap:break-word}
#languagebox{
    clear: both;
    display: none;
    /*float: none;
    width: 100%*/}  
    
}

/*
=====================================
手機(大螢幕) for-phone-only
=====================================
*/
@media (max-width: 420px) {
    
}

/*
=====================================
手機 for-phone-only (small screen)
=====================================
*/
@media (max-width: 321px) {
    
}


/*
=====================================
for-retina-photo
=====================================
*/
@media only screen and (-webkit-min-device-pixel-ratio: 2.0), only screen and (min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2.0), 
(min-resolution: 192dpi){
    #logobox{
        background: url(../images/rwd/LOGO@3X.png) no-repeat;
        background-size: contain}
    #courimg{
        background: url(../images/rwd/pic_core-competence@3x.jpg) no-repeat;
        background-size: contain}
    
}