@charset "utf-8";
/**
*
* @project    twinble.com
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2018 xuedesign studio
* @version    v1.0 - 201803
*
**/

/*
=====================================
桌上型電腦 for-desktop-down
=====================================
*/
@media (max-width:1110px) { 
    
}

/*
=====================================
平板裝置(寬>長) for-tablet-landscape-up
=====================================
*/
@media (max-width:800px) {
    
}

/*
=====================================
平板裝置(長>寬) for-tablet-portrait-up
=====================================
*/
@media (max-width: 600px) {
    
}

/*
=====================================
手機(大螢幕) for-phone-only
=====================================
*/
@media (max-width: 420px) {
    
}

/*
=====================================
手機 for-phone-only (small screen)
=====================================
*/
@media (max-width: 321px) {
    
}


/*
=====================================
for-retina-photo
=====================================
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){
    
}